.message {
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    width: 200px;
    margin: auto;
    background: #8bc34a;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}